img {
  width:15vw;
  height:30vh;
  border-radius: 10vw;
  margin-top: -28vh;
  margin-left: 10vw;
}

.user-info{
  padding-left: 30vw;
  padding-top: 15vh;
  font-size: 1.2em;
  font-family: 'Abel', sans-serif;
}

.repo{
  margin-left: 60vw;
  margin-top: -32vh;
  font-family: 'Abel', sans-serif;
}
input{
  width:60%;
  margin-left: 20vw;
  margin-top: 10vh;
}
.repos{
  font-size: 150%;
  font-family: 'Abel', sans-serif;
}

.container{
  background-color: white;
  opacity:0.9;
}
