<form action="" class="search-form">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">

</div>
<!-- <div class="form-group">
  <input type="text" class="form-control" placeholder="search git repo by name" [(ngModel)]="name" name="name" (keyup)="findRepo()">
</div> -->
</form>

<div class="container">
<div *ngIf="user">
  <div class="panel panel-default">
    <div class="row">
      <div class="col-md-7">
        <div class="user-info">
          <h2>User Details</h2>
          <p><strong>Name:</strong> {{user.name}}</p>
          <p><strong>Login:</strong> {{user.login}}</p>
          <p><strong>Repo url:</strong><a href="https://github.com/daneden" target="_blank"> {{user.html_url}}</a></p>
    </div>
  </div>
</div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
      <img src="{{user.avatar_url}}" class="img-circle img-responsive" alt="">

        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
    <div class="repo">
      <h2>Repositories</h2>
        <div class="panel-body" *ngFor="let repo of repos; let i = index">

          <span class="repos"><p id="{{i}}" appStrikethrough>{{repo.name | capitalize}}</p></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- <div class="container">
<div *ngIf="repo">
  <div class="panel panel-default">
    <div class="row">
      <div class="col-md-7">
        <div class="repo-info">
          <h2>Repo-Details</h2>
          <p><strong>Name:</strong> {{repo.name}}</p>

    </div>
  </div>
</div> -->

<!-- <git-details></git-details> -->
